<header>
    <img
        src="https://lh3.googleusercontent.com/pw/ABLVV86LCIf9Wp2tLi2deyr1oCuiZc4y3IOhs69Sg4s6XIGesv6hWhfdaqySAy3QmesLx7LmIyzx3QWX9fjdx5iQSnEYGpYa6kQ3V_Mfpo-TDz1mIUXwklI-EVkTmVjgKypXxQ6N1uRus9CNEs46xgRAoCID=w455-h607-s-no-gm?authuser=0 "
        alt="Maciel Martins - Foto de perfil"
        width="130px"
        height="130px"
        loading="eager "
    >

    <h1>Maciel Barboza Martins</h1>
</header>

<aside>
    <div class="container">
        <p>Full-Stack JavaScript | Angular | NodeJs | PostgreSQL | </p>
        <p>Lagoa Santa, Minas Gerais, Brasil</p>
        <p>
            Iniciei minha carreira a 3 anos prestando Suporte ao cliente, no momento trabalho como Assistente de T.I realizando tarefas de manutenção e suporte a infraestrutura T.I empresarial e como desenvolvedor Front-End Angular.
        </p>
    </div>

    <nav>
        <ul>
            <li>
                <a
                    href="https://drive.google.com/file/d/1chfWhJ5HHJuEh22O_qfDVNT7Z-Xv1zQW/view" target="_blank"
                    class="btn btn-primary"
                >Baixar CV</a>
            </li>

            <li>
                <a
                    href="https://www.linkedin.com/in/macielbarboza/"
                    target="_blank"
                    class="btn btn-secondary"
                >LinkedIn</a>
            </li>
        </ul>
    </nav>

    <section>
        <figure>
            <img
              src="assets/icons/whatsapp.svg"
              alt="Icone para contato do WhatsApp"
              width="22px"
              height="24px"
            >

            <figcaption>
              <a
                href="https://api.whatsapp.com/send/?phone=5531995579524&text&type=phone_number&app_absent=0"
                target="_blank"
              >
                <strong>Envie uma menssagem para: </strong>
                <p>WhatsApp: (31) 9 9557-9524</p>
              </a>
            </figcaption>
        </figure>

        <figure>
          <img
            src="assets/icons/mail.svg"
            alt="Icone para contato do e-mail"
            width="22px"
            height="24px"
          >

          <figcaption>
            <a
              href="mailto:macielbmo@gmail.com"
              target="_blank"
            >
              <strong>Envie um e-mail para: </strong>
              <p>E-mail: macielbmo&#64;gmail.com</p>
            </a>
          </figcaption>
      </figure>
    </section>
</aside>
